<footer class="bg-primary text-white p-4">
  <div class="container mx-auto text-center">
    <p>&copy; <%= Time.current.year %> My Portfolio. All rights reserved.</p>
    <ul class="flex justify-center space-x-4 mt-2">
    <li class="mr-4"><%= link_to 'Home', root_path, class: 'hover:underline' %></li>
    <li class="mr-4"><%= link_to 'Photos', photos_path, class: 'hover:underline' %></li>
    <li class="mr-4"><%= link_to 'Projects', projects_path, class: 'hover:underline' %></li>
    <li><%= link_to 'Posts', posts_path, class: 'hover:underline' %></li>
  </div>
</footer>