<h1><%= @project.title %></h1>

<p><strong>Description:</strong></p>
<p><%= @project.description %></p>

<p><strong>Project URL:</strong></p>
<p>
  <% if @project.url.present? %>
    <a href="<%= @project.url %>" target="_blank" rel="noopener noreferrer"><%= @project.url %></a>
  <% else %>
    No URL provided.
  <% end %>
</p>

<div>
  <%= link_to 'Edit Project', edit_admin_project_path(@project) %> |
  <%= link_to 'Back to Projects', admin_projects_path %>
</div>
