<!DOCTYPE html>
<html>
  <head>
    <title>Benjamin Nelson</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    
    <%# Stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%# JavaScript via Importmap %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-accent text-primary">
  <%= render 'shared/navbar' %>
  <main class="container mx-auto px-4 py-6">
    <%= yield %> 
  </main>
  <%= render 'shared/footer' %> 
</body>
</html>
